<div class="container-fluid p-4 bg-dark text-light">
    <div class="row align-items-center gy-3">
        <div class="col-6 col-lg-5 col-xl-4 col-xxl-3 d-flex justify-content-between">
            <a href="https://www.instagram.com/?hl=ru" target="_blank">
                <img src="Networks/INST.png" height="24" />
            </a>
            <a href="https://ru-ru.facebook.com/" target="_blank">
                <img src="Networks/FB.png" height="24" />
            </a>
            <a href="https://twitter.com/?lang=ru" target="_blank">
                <img src="Networks/TW.png" height="24" />
            </a>
            <a href="https://vk.com/" target="_blank">
                <img src="Networks/VK.png" height="24" />
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <img src="Networks/YT.png" height="24" />
            </a>
        </div>
        <div class="col-6 col-lg-7 col-xl-3 text-center">
            2021 © Все права защищены
        </div>
        <div class="col text-center text-xl-end">
            Сайт разработан студентом группы 35180-ИС9-2 Волковым Романом Сергеевичем для курсовой работы по предмету "Разработка WEB-приложений". Весенний семестр 2021 года.
        </div>
    </div>
</div>
